.Rproj.user
.Rhistory
.RData
.Ruserdata
old_version_backup
data/ENV_Zones/
data/CLC_00/
inst/ExtData/previous/
previous/frg_previous\.RData
\.vs/
inst/doc
config/frg_config\.RData

Rplots\.pdf

Rplots1\.pdf

Rplots2\.pdf

Rplots3\.pdf
